<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'orchestrator/css/login.css' %}">
    <script type="module" src="{% static 'orchestrator/js/login.js' %}"></script>
</head>
<body>
    <div class="login-container">
        <img src="{% static 'orchestrator/img/logo.png' %}" alt="OrchX" class="login-logo">
        <h1>Login</h1>
        <form class="login-form" id="login-form">
            <input type="email" id="email" placeholder="E-mail" required><br><br>

            <input type="password" id="password" placeholder="Senha" required><br><br>

            <button type="submit" class="login-button">Entrar</button>
        </form>

        <p id="message" style="color:red;"></p>

        <button class="signup-button">Não tem conta? Cadastre-se</button>
    </div>
</body>
</html>
